/* initializing */
button,
input{
    font-family: inherit;
    font-size: 100%;
}
@font-face {
    font-family: norseBold;
    src: url(Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

input{
    outline: none;
}


/* sidebar section */

.sidebar{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bgImage{
    background-image: url("bgImage.jpg"); 
    background-size: cover;

    padding-top: 100vh;
    width: 100%;
    /* padding-right: 30vw; */
}

.bgDark{
    background-color: rgba(0, 0, 0, .60);

    width: 100%;
    height: 150px;
    
    margin-top: 20vh;
    margin-left: -100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bgDark p {
    color: white;
    font-size: 6rem;
    padding-top: 20px;
    font-family: norseBold;
}

.bgDark img {
    height: 6rem;
}

.credit{
    margin-top: -2rem;
    color: white;
    font-size: 0.8rem;

}


/* form section */
.formContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-grow: 1;
}

.heading,
.whiteCard,
.submit{
    padding-left: 40px;
}

.boldFont{
    font-size: 1.4em;
    font-weight: 800;
}


p + p{
    padding-top: 40px;
}

.whiteCard {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0px 5px 5px grey;
    margin-bottom: 40px;
    padding-top: 20px;
    margin-top: 72px;
}



.heading{
    width: 720px;
}


div > label, input {
    display: block;
    margin-right: 40px;
}

.formRow{
    padding: 20px 20px 20px 0px;
    display: flex;
}

.formRow input{
    border-radius: 3px;
    width: 200px;
    height: 28px;
    font-size: 1rem;
    border: 1px solid #E5E7EB;
    padding: 10px;
}



label {
    font-size: 0.8rem;
}

.submit{
    display: block;
}

button{
    border-radius: 3px;
    font-size: 1rem;
    background-color: #596D48;
    color: #E5E7EB;

    border: none;
    padding: 10px 40px;
    margin-bottom: 20px;
    
    cursor:pointer;
}

button:hover{
    background-color: #313e26;
}

button:active{
    background-color: #14190f;
}

.login{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;

}

/* Forms validation */
.formRow input[type='email']:invalid,
.formRow input[type='tel']:invalid,
.formRow input[type='password']:invalid,
.formRow input[type='text']:invalid{
    border: 1px solid red;
    box-shadow: 1px 1px 2px red;

} 

input.error {
    border: 1px solid red;
    box-shadow: 1px 1px 2px red;
}

.formRow input:focus{
    border: 1px solid rgb(0, 85, 255);
    box-shadow: 1px 1px 2px rgb(0, 85, 255);
}

.error + input:invalid,
.error::after{
    content: 'Passwords do not match';
    color: red;

}